@layout AuthenticationLayout
<button type="button" class=" justify-content-between btn btn-block create-account" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Processing...
</button>

@code {

}
